<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.products.length > 0) { %>
                <ul>
                    <% orders.products.forEach((p, index) => { %>
                        <li><%= p.productId.title + ' (' + p.quantity + ')' %></li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No order found</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>